<!DOCTYPE html>
<html>
	
	<head>
		<title>Layout</title>
		<meta charset="UTF-8">

		<style type="text/css">
			@import "css/style.css";
		</style>
	</head>

	<body>
		<div id="container">
			
			<header>
				<h1>Be My Pet - Encontre seu novo amigo!</h1>
			</header>
			
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Quem Somos</a></li>
					<li><a href="#">Trabalhe Conosco</a></li>
					<li><a href="#">Contato</a></li>
				</ul>
			</nav>
			
			<main>
				<section class="destaque">
					<figure>
						<img src="imgs/veia_e_kira.jpg" alt="Um gatinho esperando comida" title="Miau!" class="bordas">
					</figure>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, aut impedit reprehenderit molestias! Nostrum aspernatur quo veniam corrupti ea, consequuntur suscipit amet similique sed optio libero voluptas, architecto odio et.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione excepturi illum porro in amet itaque eius deserunt animi praesentium officiis. Earum itaque molestiae tempore perferendis optio, culpa possimus eius fuga.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quos, ea nisi eaque ipsam adipisci tempora, cum similique voluptas blanditiis distinctio autem dicta nam repudiandae laboriosam odio eos pariatur eligendi.
					</p>
				</section>

				<section class="noticias">

					<article>
						<h3>O que é o Be My Pet?</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quos, voluptatem deserunt, consequuntur deleniti fuga iure, earum maxime voluptates soluta dignissimos cupiditate eius aliquid. Incidunt, eligendi et soluta dicta quod?
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nostrum facilis corporis veritatis vitae aut possimus vero quaerat. Repellat eligendi, quasi non magni repellendus explicabo reiciendis soluta mollitia iste culpa.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur maxime tempore quibusdam totam excepturi vero, itaque, nostrum quasi optio nam animi odio officiis nesciunt, minus voluptatem ullam. Fuga, quasi, asperiores.
						</p>
					</article>
					
					<article>
						<h3>Como funciona?</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quos, voluptatem deserunt, consequuntur deleniti fuga iure, earum maxime voluptates soluta dignissimos cupiditate eius aliquid. Incidunt, eligendi et soluta dicta quod?
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nostrum facilis corporis veritatis vitae aut possimus vero quaerat. Repellat eligendi, quasi non magni repellendus explicabo reiciendis soluta mollitia iste culpa.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur maxime tempore quibusdam totam excepturi vero, itaque, nostrum quasi optio nam animi odio officiis nesciunt, minus voluptatem ullam. Fuga, quasi, asperiores.
						</p>
					</article>
					
				</section>

				<aside>
					<div>Conteúdo 1</div>
					<div>Conteúdo 2</div>
					<div>Conteúdo 3</div>
				</aside>	
			</main>

			<footer></footer>
			
		</div>

		<div id="banner">
			Oi, eu sou o Goku!
		</div>
	</body>
</html>